In [3]:
import pandas as pd

In [5]:
clean = pd.read_csv('TIDY_clean.csv')

C:\Users\agspi\AppData\Local\Temp\ipykernel_44752\40926005.py:1: DtypeWarning: Columns (36,37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  clean = pd.read_csv('TIDY_clean.csv')

In [7]:
clean.head().T

,0,1,2,3,4
projectid,316ed8fb3b81402ff6ac8f721bb31192,90de744e368a7e4883223ca49318ae30,32943bb1063267de6ed19fc0ceb4b9a7,bb18f409abda2f264d5acda8cab577a9,24761b686e18e5eace634607acbcc19f
teacher_acctid_x,42d43fa6f37314365d08692e08680973,864eb466462bf704bf7a16a585ef296a,37f85135259ece793213aca9d8765542,2133fc46f951f1e7d60645b0f9e48a6c,867ff478a63f5457eaf41049536c47cd
schoolid,c0e6ce89b244764085691a1b8e28cb81,d711e47810900c96f26a5d0be30c446d,665c3613013ba0a66e3a2a26b89f1b68,4f12c3fa0c1cce823c7ba1df57e90ccb,10179fd362d7b8cf0e89baa1ca3025bb
school_ncesid,63627006187.0,483702008193.0,410327000109.0,360015302507.0,62271003157.0
school_latitude,36.57634,32.911179,45.166039,40.641727,34.043939
...,...,...,...,...,...
essay_has_materials,0,1,0,0,0
essay_has_technology,0,0,1,0,1
essay_has_books,1,1,0,1,1
essay_word_count,396,218,237,285,414
sp500_missing,0,0,1,1,1

In [9]:
clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664098 entries, 0 to 664097
Columns: 105 entries, projectid to sp500_missing
dtypes: float64(31), int64(33), object(41)
memory usage: 532.0+ MB

In [11]:
clean.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
projectid,664098,664098,316ed8fb3b81402ff6ac8f721bb31192,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
teacher_acctid_x,664098,249555,787720cc575e3204991b8ca18d312d2b,266,NaN,NaN,NaN,NaN,NaN,NaN,NaN
schoolid,664098,57004,9231edfbd3aa42675e70e69aea8b0a36,944,NaN,NaN,NaN,NaN,NaN,NaN,NaN
school_ncesid,664098.0,NaN,NaN,NaN,260903725994.7854,153775237004.611786,10000500870.0,120039000509.0,261573000251.0,370297001274.0,610000900044.0
school_latitude,664098.0,NaN,NaN,NaN,37.240948,4.668155,18.24914,34.038082,37.662476,40.758827,67.258157
...,...,...,...,...,...,...,...,...,...,...,...
essay_has_materials,664098.0,NaN,NaN,NaN,0.26307,0.4403,0.0,0.0,0.0,1.0,1.0
essay_has_technology,664098.0,NaN,NaN,NaN,0.221083,0.414977,0.0,0.0,0.0,0.0,1.0
essay_has_books,664098.0,NaN,NaN,NaN,0.348757,0.476577,0.0,0.0,0.0,1.0,1.0
essay_word_count,664098.0,NaN,NaN,NaN,278.426886,88.009251,0.0,212.0,265.0,335.0,1606.0
sp500_missing,664098.0,NaN,NaN,NaN,0.360853,0.480248,0.0,0.0,0.0,1.0,1.0

In [13]:
clean.columns

Index(['projectid', 'teacher_acctid_x', 'schoolid', 'school_ncesid',
       'school_latitude', 'school_longitude', 'school_city', 'school_state',
       'school_zip', 'school_metro',
       ...
       'essay_has_students', 'essay_has_classroom', 'essay_has_learning',
       'essay_has_education', 'essay_has_resources', 'essay_has_materials',
       'essay_has_technology', 'essay_has_books', 'essay_word_count',
       'sp500_missing'],
      dtype='object', length=105)

In [21]:
new_cols = set()
for i in clean.columns:
    new_cols.add(i)

In [19]:
old_cols = {'three_or_more_non_teacher_referred_donors', 'school_nlns', 'great_chat', 'eligible_double_your_impact_match', 'essay', 'resource_type', 'students_reached', 'secondary_focus_subject', 'short_description', 'title', 'essay_length', 'school_city', 'total_item_quantity', 'price_per_student', 'need_statement', 'teacher_prefix', 'school_latitude', 'is_exciting', 'school_magnet', 'fully_funded', 'teacher_acctid_y', 'school_district', 'total_item_cost', 'eligible_almost_home_match', 'teacher_referred_count', 'at_least_1_teacher_referred_donor', 'need_statement_length', 'fulfillment_labor_materials', 'school_year_round', 'teacher_ny_teaching_fellow', 'teacher_teach_for_america', 'school_county', 'num_items', 'school_charter_ready_promise', 'at_least_1_green_donation', 'school_longitude', 'school_zip', 'projectid', 'secondary_focus_area', 'primary_focus_subject', 'total_price_excluding_optional_support', 'school_kipp', 'schoolid', 'poverty_level', 'non_teacher_referred_count', 'school_ncesid', 'date_posted', 'teacher_acctid_x', 'has_essay', 'one_non_teacher_referred_donor_giving_100_plus', 'school_metro', 'primary_focus_area', 'grade_level', 'great_messages_proportion', 'avg_donation_amount', 'num_donations', 'unique_vendor_count', 'fully_funded_binary', 'total_donation_amount', 'avg_cost_per_item', 'school_state', 'donation_from_thoughtful_donor', 'sp500_daily_diff', 'school_charter', 'total_price_including_optional_support'}

In [23]:
new_cols != new_cols

False

In [25]:
clean['students_reached'].value_counts()

students_reached
20.0     50292
25.0     45627
30.0     37049
24.0     25439
22.0     24407
         ...
798.0        1
711.0        1
559.0        1
569.0        1
696.0        1
Name: count, Length: 789, dtype: int64

In [27]:
clean['students_reached'].min()

0.0